/* Global styles */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #212121;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Input styles */
input[type="text"], input[type="tel"], input[type="password"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

/* Logo styles */
.RegistryPage-logo {
  height: 200px;
  pointer-events: none;
  margin: 100px auto 0;
  display: block;
  animation: App-logo-spin infinite 20s linear;
}

/* Text field styles */
.text-field__label {
  display: block;
  margin-bottom: 1rem; /* Changed to 1rem for consistency */
  color: #aaaaaa;
}

/* Text field styles */
.text-field__input {
  max-width: 360px;
  margin: 5px auto;
  padding: 15px;
  width: 25%;
  height: 3.375rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: #212121;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input:hover,
.text-field__input:focus {
  border-color: #6549ff;
  box-shadow: 0 0 1px rgb(101, 73, 212);
}

.text-field__input::placeholder {
  color: #a1a1a1;
  opacity: 0.4;
}

/* Confirmation message styles */
.Confirm {
  max-width: 360px;
  color: #aaaaaa;
  margin: -15px auto 50px;
  font-size: 16px;
}

/* Header styles */
.RegistryPage-header {
  color: white;
  text-align: center;
}

/* Heading styles */
.h1 {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  margin-top: 25px;
}

/* Стили для выпадающего списка */
select {
  max-width: 360px;
  margin: 10px auto; /* Нормальный отступ от краев формы */
  padding: 15px;
  width: 25%;
  height: 3.375rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: #212121;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none; /* Убираем стандартную стрелку */
  -webkit-appearance: none; /* Для старых версий Safari */
  -moz-appearance: none; /* Для Firefox */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>'); /* Изображение стрелки */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Расположение стрелки */
}

/* Стили при наведении и фокусе */
select:hover,
select:focus {
  border-color: #6549ff;
  box-shadow: 0 0 1px rgb(101, 73, 212);
}

/* Стили для кнопки submit */
.SubmitButton .btn-primary {
  max-width: 360px;
  margin: 5px auto;
  margin-top: 20px;
  padding: 15px;
  width: 25%;
  height: 3.375rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: #6549ff;
  border: 1px solid #6549ff;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
}

.SubmitButton .btn-primary:hover,
.SubmitButton .btn-primary:focus {
  background-color: #5038e6;
  box-shadow: 0 0 5px rgb(101, 73, 212);
}

/* Стили для кнопки login */
.LoginButton {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.LoginButton .btn-secondary {
  padding: 5px 10px;
  font-size: 0.875rem;
  color: #aaaaaa;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}

.LoginButton .btn-secondary:hover,
.LoginButton .btn-secondary:focus {
  color: #888888;
}
