/* Общие стили для главной страницы */
.main-page {
  position: relative;
  display: flex;
  height: 100vh;
}

/* Светлая тема */
.light-theme .main-page {
  background-color: #e5e5e5;
}

.light-theme .main-content {
  background-color: #ffffff;
  color: #333;
}

.light-theme .main-header {
  background-color: #ffffff;
  color: #333;
}

.light-theme .menu-icon {
  background-color: #0088cc;
  color: #ffffff;
}

.light-theme .menu-icon:hover {
  background-color: #007bb5;
}

/* Тёмная тема */
.dark-theme .main-page {
  background-color: #333333;
}

.dark-theme .main-content {
  background-color: #444444;
  color: #ffffff;
}

.dark-theme .main-header {
  background-color: #444444;
  color: #ffffff;
}

.dark-theme .menu-icon {
  background-color: #666666;
  color: #ffffff;
}

.dark-theme .menu-icon:hover {
  background-color: #555555;
}
